.v-list .v-list-item {
    transition: box-shadow 0.2s, transform 0.2s;
}

.v-list .v-list-item:hover {
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
    cursor: pointer;
    background-color: rgb(153, 229, 136) !important;
}

.v-list .v-list-item--active{
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
    cursor: pointer;
}

.v-data-table table {
    padding: 4px;
    padding-bottom: 8px;
}

.v-data-table table th {
    white-space: nowrap;
}

.v-data-table table td {
    border-bottom: 0 !important;
}

.v-data-table table tbody tr {
    transition: box-shadow 0.2s, transform 0.2s;
}

.v-data-table table tbody tr:not(.v-data-table__selected):hover {
    box-shadow: 0 3px 15px -2px rgba(0, 0, 0, 0.12);
    transform: translateY(-4px);
    cursor: pointer;
    background-color: white !important;
}

.table-search {
    padding-top: 25px !important;
}

.center-switch-dense-text-field {
    margin-top: 6px !important;
}